* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-dark-blue: #002146;
  --color-yellow: #fdc800;
  --color-white: #fff;
  --color-shadow-white: #f6f6f6;
  --color-gray: #7d7d7d;
  --color-dark: #1b1d2d;
  /* #939393
      #5a5a5a
  */
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.list-style-none {
  list-style: none;
}

.center {
  margin: 0 auto;
}


/* ========== PADDING ========== */
.p-10 {
  padding: 10px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-15 {
  padding: 15px;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-25 {
  padding: 25px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-30 {
  padding: 30px;
}

.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-40 {
  padding: 40px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}


/* ========== MARGIN ========== */
.mr-15 {
  margin-right: 15px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}


/* ========== BORDER RADIUS ========== */
.rounded-full {
  border-radius: 50%;
}

.rounded-8px {
  border-radius: 8px;
}

.rounded-4px {
  border-radius: 4px;
}

/* ========== DISPLAY ========== */
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}


/* ========== FLOAT ========== */
.float-left {
  float: left;
}

.clear-both {
  clear: both;
}


/* ========== WIDTH ========== */
.mainSize {
  width: 80%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}


/* ========== LINE CLAMP ========== */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


/* ========== FONT WEIGHT ========== */
.font-bolder {
  font-weight: bolder;
}


/* ========== FONT SIZE ========== */
.text-14 {
  font-size: 14px;
}

.text-32 {
  font-size: 32px;
}

.text-21 {
  font-size: 21px;
}

.text-44 {
  font-size: 44px;
}


/* ========== TEXT-TRANSFORM ========== */
.uppercase {
  text-transform: uppercase;
}


/* ========== TEXT ALIGN ========== */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}