/* ========== Reset CSS ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


/* ========== Variable CSS ========== */
:root {
  /* Color */
  --color-white: #fff;
  --color-slate: #f6f6f6;
  --color-slate-200: #939393;
  --color-gray-100: #969696;
  --color-gray-200: #585858;
  --color-yellow: #fdc800;
  --color-blue-100: #1b1d2d;
  --color-blue-200: #002146;

  /* Font size */
  --text-sm: 0.875rem;
  /* 14px */
  --text-base: 1rem;
  /* 16px */
  --text-xl: 1.3125rem;
  /* 21px */
  --text-2xl: 2rem;
  /* 32px */
  --text-3xl: 2.75rem;
  /* 44px */
}


html,
body {
  font-family: 'Poppins', sans-serif;
}

.center {
  margin: 0 auto;
}


/* ========== PADDING ========== */
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.p-15 {
  padding: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}


/* ========== MARGIN ========== */
.mb-5 {
  margin-bottom: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}


/* ========== WIDTH ========== */
.mainSize {
  width: 80%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}


/* ========== HEIGHT ========== */
.h-screen {
  height: 100vh;
}


/* ========== FONT SIZE ========== */
.text-sm {
  font-size: var(--text-sm);
}

.text-base {
  font-size: var(--text-base);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}


/* ========== FONT WEIGHT ========== */
.font-bold {
  font-weight: 700;
}


/* ========== TEXT-TRANSFORM ========== */
.uppercase {
  text-transform: uppercase;
}


/* ========== TEXT ALIGN ========== */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


/* ========== LINE CLAMP ========== */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


/* ========== BORDER RADIUS ========== */
.rounded-full {
  border-radius: 50%;
}

.rounded-4px {
  border-radius: 4px;
}

.rounded-8px {
  border-radius: 8px;
}


/* ========== FLOAT ========== */
.float-left {
  float: left;
}

.clear-both {
  clear: both;
}


/* ========== DISPLAY ========== */
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}


/* ========== BACKGROUND ========== */
.bg-white {
  background: var(--color-white);
}

.bg-slate {
  background: var(--color-slate);
}

.bg-yellow {
  background: var(--color-yellow);
}

.bg-blue-200 {
  background: var(--color-blue-200);
}


/* ========== COLOR ========== */
.color-white {
  color: var(--color-white);
}

.color-slate {
  color: var(--color-slate);
}

.color-gray-100 {
  color: var(--color-gray-100);
}

.color-gray-200 {
  color: var(--color-gray-200);
}

.color-slate-200 {
  color: var(--color-slate-200);
}

.color-yellow {
  color: var(--color-yellow);
}

.color-blue-100 {
  color: var(--color-blue-100);
}

.color-blue-200 {
  color: var(--color-blue-200);
}