/* ========== CAROUSEL ========== */
.carousel>div {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* ========== ABOUT ========== */
#about .about__info p {
  line-height: 30px;
}

/* ========== BLOG ========== */
#blog hr {
  height: 2px;
  border: 0;
}

#blog .event__time .top {
  border-radius: 8px 8px 0 0;
}

#blog .event__time .bottom {
  border-radius: 0 0 8px 8px;
}

#blog .event__info div span:first-child {
  border-right: 1px solid var(--color-gray-100);
}

/* ========== CONTACT ========== */
#contact .contact__info {
  border-bottom: 1px solid var(--color-gray-100);
}