/* ========== HEADER ========== */
#header {
  background: var(--color-white);
}

#header a span {
  color: var(--color-dark);
}

#header i {
  background: var(--color-dark-blue);
  color: var(--color-yellow);
}

#header ul li a {
  color: var(--color-dark-blue);
}

/* ========== CAROUSEL ========== */
.carousel>div {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* ========== ABOUT ========== */
#about>div:last-child {
  background: var(--color-shadow-white);
}

#about .about__info h1 {
  color: var(--color-dark);
}

#about .about__info p {
  color: var(--color-gray);
  line-height: 30px;
}

#about .about__info a {
  color: var(--color-dark-blue);
  background: var(--color-yellow);
}

/* ========== SERVICE ========== */
#service .service__list .wrapper .item {
  color: var(--color-white);
  background: var(--color-dark-blue);
}

/* ========== BLOG ========== */
#blog {
  background: var(--color-shadow-white);
}

#blog hr {
  background: var(--color-shadow-white);
  height: 2px;
  border: 0;
}

#blog .blog__post h2,
#blog .blog__event h2 {
  color: var(--color-dark);
}

#blog .blog__post .list__post {
  background: var(--color-white);
}

#blog .list__post .post h3 {
  font-size: 18px;
}

#blog .list__post .post span {
  font-size: 14px;
  color: var(--color-gray);

}

#blog .blog__btn {
  color: var(--color-dark-blue);
  background: var(--color-yellow);
}

#blog .blog__event .list__event .event {
  background: var(--color-white);
}

.event__time .top {
  background: var(--color-yellow);
}

.event__time .bottom {
  background: var(--color-dark-blue);
  color: var(--color-white);
}

.event__info div span {
  color: var(--color-dark-blue);
  font-size: 15px;
}

/* ========== CONTACT ========== */
#contact {
  background: var(--color-dark-blue);
  color: var(--color-white);
}

#contact a {
  color: var(--color-white);
}

#contact .contact__info {
  border-bottom: 1px solid var(--color-gray);
}

#contact .contact__direct i {
  font-size: 18px;
  color: var(--color-yellow)
}

#contact .contact__info p,
#contact .contact__info a {
  font-size: 14px;
}