/* ==== HEADER ==== */
#header {
  background: var(--color-white);
}

#header a span {
  color: var(--color-dark);
}

#header i {
  background: var(--color-dark-blue);
  color: var(--color-yellow);
}

#header ul li a {
  color: var(--color-dark-blue);
}

/* ==== CAROUSEL ==== */
.carousel>div {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* ==== ABOUT ==== */
#about div:last-child {
  background: var(--color-shadow-white);
}

#about .about__info h1 {
  color: var(--color-dark);
}

#about .about__info p {
  color: var(--color-gray);
  line-height: 30px;
}

#about .about__info a {
  color: var(--color-dark-blue);
  background: var(--color-yellow);
}

/* ==== SERVICE ==== */
#service .service__list .wrapper .item {
  color: var(--color-white);
  background: var(--color-dark-blue);
}

/* ==== BLOG ==== */
#blog {
  background: var(--color-shadow-white);
}

#blog hr {
  background: var(--color-gray);
  height: 2px;
  border: 0;
  margin: 5px 0;
}

#blog .blog__post h2,
#blog .blog__event h2 {
  color: var(--color-dark);
}

#blog .blog__post .list__post {
  background: var(--color-white);
}

#blog .blog__btn {
  color: var(--color-dark-blue);
  background: var(--color-yellow);
}

/* ==== CONTACT ==== */