/* ==== HEADER ==== */
.header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.header li {
  display: inline-block;
}

/* ==== ABOUT ==== */
.about p {
  margin: 0;
  line-height: 19px;
}

.about>div {
  text-align: right;
  margin-bottom: 13px;
}

/* ==== PRODUCT ==== */

.product .product__list ul {
  color: blue;
  list-style: circle;
}

.product .product__list ol {
  list-style: upper-roman;
}

.product .poster-w20 {
  width: 20%;
  display: inline-block;
}

.product .poster-w40 {
  width: 40%;
  display: inline-block;
}

.product img {
  width: 100%;
}

/* ==== MENU ==== */

.menu table {
  border-collapse: collapse;
  width: 700px;
  margin: 0 auto;
}

.menu thead {
  background: #c4cdd6;
}

table,
th,
td {
  border: 2px solid #000;
}

td,
th {
  padding: 10px;
}

.menu table td.color-white {
  color: #fff;
}

/* ==== CONTACT ==== */

.contact {
  text-align: center;
}