#coffeePage .nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.banner>div {
  width: 40%;
  display: inline-block;
}

.banner img {
  width: 100%;
}

#coffeePage p {
  text-align: center;
  color: blue;
}

#coffeePage table {
  border-collapse: collapse;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}


#coffeePage table th,
#coffeePage table td {
  padding: 20px;
}