#teaPage ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

#teaPage .banner div {
  margin-right: 19px;
  width: 40%;
  display: inline-block;
}

#teaPage img {
  width: 100%;
  border: 10px solid #000
}

#teaPage p {
  color: red;
  text-align: right;
}

#teaPage table {
  border-collapse: separate;
  border: 1px;
  margin: 0 auto;
  width: 900px;
  text-align: center;
  border: 1px solid gray;
}

#teaPage th,
#teaPage td {
  padding: 20px
}