.teaPage .tea_nav ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.teaPage .tea__banner>div {
  margin-right: 19px;
  width: 40%;
  display: inline-block;
}

.teaPage .tea__banner img {
  width: 100%;
  border: 10px solid #000
}

.teaPage p {
  color: red;
}

.teaPage table {
  border-collapse: separate;
  border: 1px;
  margin: 0 auto;
  width: 900px;
  border: 1px solid gray;
}

.teaPage th,
.teaPage td {
  padding: 20px
}