.coffeePage .coffee__nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.coffeePage .coffee__banner div {
  width: 40%;
  display: inline-block;
}

.coffeePage .coffee__banner img {
  width: 100%;
}

.coffeePage p {
  text-align: center;
  color: blue;
}

.coffeePage table {
  border-collapse: collapse;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.coffeePage table th,
.coffeePage table td {
  padding: 20px;
}