h1 {
  color: #fff;
  background: red;
  text-align: center;
}

h2 {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.color-red {
  color: red;
}

.fsty-italic {
  font-style: italic;
}

.fw-boder {
  font-weight: bold;
}