* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 8px;
}

h1 {
  color: #fff;
  margin: 25px 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.fs-3o {
  font-size: 30px;
}