body {
  background: gray;
}

.news {
  background: #fff;
  width: 60%;
}

.news h1 {
  color: brown;
  font-size: 40px;
}

.news__content {
  width: 100%;
}

.news__content p {
  margin: 10px 0;
  line-height: 28px;
  font-size: 20px;
}

.news__content ol {
  margin: 14px 0;
  padding-left: 40px;
}

.news__content li {
  list-style: decimal;
  line-height: 28px;
  font-size: 20px;
}

.news__poster {
  width: 100%;
}

.news__poster img {
  width: 100%;
}