/* ---------- HEADER ---------- */
header {
  top: 0;
  left: 0;
  z-index: 10;
}

header li {
  padding: 55px 15px;
}

header li a {
  color: rgb(var(--dark-blue));
}

header li:hover a {
  color: rgb(var(--pink));
}

header li:hover span {
  animation: upToBottom var(--animation-duration-0_3s) var(--animation-fill-mode-forwards);
}

/* ---------- HERO ---------- */
.hero .hero__bg {
  padding-top: 180px;
  overflow: hidden;
  background-position: top;
  background-size: 100%;
}

.hero .hero__content i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.hero .hero__img figure {
  width: 570px;
  margin-left: 50px;
}

/* ---------- SERVICE ---------- */
.service {
  background-size: cover;
  background-position: top center;
}

.service .card {
  width: calc((100% - 60px)/3);
  background: rgb(var(--white));
  box-shadow: 0 0 60px 0 rgba(var(--black), 0.1);
  text-align: center;
  border: 3px solid transparent;
  padding: 30px 45px;
  transform: translateY(0);
  border-image: 100 round;
  transition: var(--transition-all-0_5s);
}

.service .card:hover {
  border-image: url("../images/br.png") 1 round;
  transform: translateY(-20px);
}

.service .card img {
  width: 215px;
}


/* ---------- ABOUT ---------- */
.about {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  overflow: hidden;
  padding-bottom: 85px;
}

.about .about__img {
  left: -17%;
}

.about .about__img img {
  border-top-right-radius: var(--radius-4xl);
  border-bottom-right-radius: var(--radius-4xl);
}

.about .about__content i {
  color: rgb(var(--pink));
}

/* ---------- NUMBER ---------- */
.number>div {
  padding: 80px 0 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.number .number__item i {
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
}

.number .number__item p,
.number .number__item span {
  line-height: 1;
}

.number .number__item p:first-of-type {
  color: rgb(var(--pink));
}

.number .number__item p:last-child {
  color: rgb(var(--dark-200));
}

/* ---------- FEATURE ---------- */
.feature {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.feature .feature__item:nth-child(odd) {
  padding-right: 50px;
}

.feature .feature__item:nth-child(even) {
  padding-left: 50px;
}

.feature .feature__list .feature__item>div {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  background: rgb(var(--white));
  z-index: 1;
  border-radius: var(--radius-md);
  transition: var(--transition-all-1s);
}

.feature .feature__list .feature__item>div:hover {
  background-image: linear-gradient(to right, rgb(var(--pink)) 0%, rgb(var(--orange)) 51%, rgb(var(--pink)) 100%);
  background-size: 200%;
}

.feature .feature__list .feature__item h4 {
  color: rgb(var(--dark-200));
  transition: var(--transition-all-1s);
}

.feature .feature__list .feature__item i {
  color: rgb(var(--pink));
  transition: var(--transition-all-1s);
  line-height: 1;
}

.feature .feature__list .feature__item p {
  transition: var(--transition-all-1s);
}

.feature .feature__item>div:hover i,
.feature .feature__item>div:hover p,
.feature .feature__item>div:hover h4 {
  color: rgb(var(--white));
}

.feature .feature__right figure {
  margin-right: -80px;
}

.feature .feature__right img {
  animation: move2 var(--animation-duration-5s) var(--animation-fill-mode-infinite);
}

/* ---------- PORTFOLIO ---------- */
.portfolio {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.portfolio .portfolio__list {
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 35px
}

.col-span-2 {
  grid-column: 1 / span 2;
}

.row-span-2 {
  grid-row: 2 / span 2;
  grid-column: 3/4;
}

.portfolio .portfolio__list .card {
  overflow: hidden;
}

.portfolio .card::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, rgba(var(--white), 0) 0%, rgba(var(--white), 0.3) 100%);
  transform: skewX(-25deg);
  transition: var(--transition-all-0_75s);
}

.portfolio .card:hover::after {
  left: 125%;
}

.portfolio .card .overplay {
  top: 0;
  left: 0;
  background: rgba(var(--black), 0.4);
  color: rgb(var(--white));
  transition: var(--transition-all-0_75s);
}

.portfolio .card:hover .overplay {
  opacity: var(--opacity-100);
}

.portfolio .card .overplay .overplay__btn {
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  transition: var(--transition-all-0_75s);
}

.portfolio .card .overplay .overplay__btn i {
  color: rgb(var(--white));
}

.portfolio .card:hover .overplay__btn {
  top: 20px;
  right: 20px;
}

.portfolio .card .overplay .overplay__content {
  text-align: left;
  bottom: 0;
  left: 30px;
  transition: var(--transition-all-0_75s);
}

.portfolio .card:hover .overplay__content {
  bottom: 30px;
}


/* ---------- BLOG ---------- */
.blog {
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.blog .card {
  background: rgba(var(--pink), 0.1);
}

.blog .card .card__header span {
  left: 15px;
  bottom: -20px;
}

.blog .card .card__body {
  line-height: 1.4;
}

.blog .card .card__body h4 {
  color: rgb(var(--dark-200));
}

.blog .card .card__body p {
  color: rgb(var(--gray-200));
}

.blog .card .card__footer {
  border-top: 1px solid rgb(var(--black), 0.05);
}

.blog .card .card__footer i,
.blog .card .card__footer .card__footer-author span {
  color: rgb(var(--pink));
}


/* ---------- FOOTER ---------- */
.footer {
  background-color: rgb(var(--dark-300));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .markBg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer .footer__subscribe {
  background-color: rgb(var(--white));
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  box-shadow: 0 0px 30px 0 rgba(var(--black), 0.1);
  padding: 50px 60px;
}

.footer .footer__subscribe p {
  color: rgb(var(--dark-200));
}

.footer .footer__subscribe form {
  box-shadow: 0 0 60px 0 rgb(var(--black), 0.1);
}

.footer .footer__subscribe input {
  flex-grow: 1;
  border: 1px solid rgb(var(--white));
  border-top-left-radius: var(--radius-base);
  border-bottom-left-radius: var(--radius-base);
  outline: none;
  color: rgb(var(--gray-100));
  background: rgb(var(--white));
  transition: var(--transition-all-0_5s);
}

.footer .footer__subscribe input:focus,
.footer .footer__subscribe input:hover {
  border-color: rgb(var(--pink));
}

.footer .footer__subscribe button {
  border: transparent;
  border-top-right-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
  animation: toLeftFromRight var(--animation-duration-0_5s) var(--animation-fill-mode-forwards);
}

.footer .footer__subscribe button:hover i {
  animation: toLeftFromRight var(--animation-duration-0_5s) var(--animation-fill-mode-forwards);
}

.footer .footer__body {
  z-index: 2;
  padding: 70px 0;
}

.footer .footer__body ul li {
  padding: 0.5rem 0;
}

.footer .footer__body h4 {
  color: rgb(var(--white));
}

.footer .footer__body h4::before,
.footer .footer__body h4::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 4px;
  background-image: linear-gradient(to right, rgb(var(--pink)) 0%, rgb(var(--orange)) 50%, rgb(var(--pink)) 100%);
  background-size: 200%;
  border-radius: var(--radius-lg);
}

.footer .footer__body h4::before {
  width: 15px;
  left: 0;
}

.footer .footer__body h4::after {
  width: 45px;
  left: 20px;
}

.footer .footer__body .footer__contact ul li i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(var(--white));
}

.footer .footer__body .footer__contact span {
  color: rgb(var(--white));
}

.footer .footer__body a {
  color: rgb(var(--gray-200));
  font-size: var(--base);
  transition: var(--transition-all-0_5s)
}

.footer .footer__body .footer__item a:hover {
  color: rgb(var(--white));
}

.footer .footer__copyright {
  z-index: 2;
  background: rgb(var(--dark-100));
}

.footer .footer__copyright p,
.footer .footer__copyright a {
  color: rgb(var(--white))
}

.footer .footer__copyright span {
  color: rgb(var(--pink));
}

.footer .footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  background: rgba(var(--white), 0.1);
  transition: var(--transition-all-0_5s);
}

.footer .footer__copyright a:hover {
  background: rgba(var(--pink));
}


/* ---------- Button Scroll To Top ---------- */
#btnScrollToTop {
  z-index: 10;
  right: 15px;
  bottom: 15px;
  visibility: hidden;
  opacity: var(--opacity-0);
  transition: var(--transition-all-0_2s);
}

#btnScrollToTop.btn-is-visible {
  visibility: visible;
  opacity: var(--opacity-100);
}

#btnScrollToTop button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 0;
  text-align: center;
  background: rgb(var(--pink));
  color: rgb(var(--white));
  box-shadow: -4px 4px 24px -10px rgb(var(--pink));
  cursor: pointer;
}